body {
	background-color: rgb(255, 255, 255);
	background-image: url("../res/core/imgs/loginBG.svg");
	color: rgb(0, 0, 0);
	background-attachment: fixed;
	margin: 0%;
}
body::-webkit-scrollbar {
	display: none;
}
#title {
	
}
.usersList {
	display: grid;
	grid-template-columns: auto auto;
	width: 100vw;
}
.userCard {
	text-align: center;
	border: 1px solid rgb(0, 255, 0);
	padding: 1%;
}
.userCardImage {
	border: 1px solid rgb(255, 0, 0);
	border-radius: 50%;
	width: 25vw;
	height: 25vw;
}