body {
	margin: 0;
	background-color: rgba(0, 0, 0, 1);
	cursor: none;
}
#screen {
	z-index: 100;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0);
	position: fixed;
	top: 0vh;
	left: 0vw;
	right: 0vw;
	bottom: 0vh;
	border: none;
}

img, svg {
	x-index: 1000;
}